DATABASE_URL="postgresql://logbook:logbook@db:5432/logbook?schema=public"

# NextAuth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"

# Single user authentication
AUTH_USERNAME="admin"
AUTH_PASSWORD_HASH="$2a$10$..." # Generate with: npx bcryptjs-cli hash "your_password"
